<!-- Header -->
<%- include("partials/header");  -%>

<h1 class="py-4">About</h1> 
  <div>
    <div class="my-img-div text-center">
      <img src="images/my-photo.jpg" alt="my-photo" data-aos-duration="1800" data-aos="flip-down">
    </div>

    <div class="text-center" data-aos="flip-left"  data-aos-duration="1800">
      <a href="https://www.instagram.com/saurabh_bomble619/"><i class="fab fa-instagram fa-3x social-icon"
          id="fav-social"></i></i></a>
      <a href="https://github.com/saurabh-619"><i class="fab fa-github fa-3x social-icon" id="fav-social"></i></i></a>
      <a href="https://www.facebook.com/saurabh.bomble.71"><i class="fab fa-facebook-f fa-3x social-icon"
          id="fav-social"></i></i></a>
      <a href="https://www.quora.com/profile/Saurabh-Bomble-2"><i class="fab fa-quora fa-3x social-icon"
          id="fav-social"></i></a>
    </div>
  </div> 

<p class="about-para1">This is Node-express App for DEV Community for Jotting down the ideas and tips on Any kind of  development.</p>
<p class="about-para2">Version 1.1.0</p>
<!-- Footer -->
<%- include("partials/footer");  -%>