<!-- Header -->
<%- include("partials/header");  -%>

<div class="jumbotron text-center" style="background: none;">
  <h1 > <%= title %> </h1>
  <p class="lead">Community where real Devs meet.</p>
  <a class="btn btn-dark btn-lg button" href="/ideas/add">Add posts</a>
</div>

<!-- Footer -->
<%- include("partials/footer");  -%>